* {
    margin: 0;
}

body {
    text-align: center;
    position: relative;
    width: 100vw;
    overflow: hidden;
}


#header-container {
    width: 100vw;
    height: 70vw;
    overflow: hidden;
}

#header-bg {
    position: relative;
    width: 500vw;
    height: 200vw;
    border-radius: 50%;
    left: -200vw;
    top: -132vw;
    background-color: #f8fbfc;
}

#header {
    position: absolute;
    top: 0;
}

#bg-caption {
    font-size: 50vw;
    position: relative;
    top: -20vw;
    color: #c1c1c1;
    z-index: 0;
}


#caption * {
    position: relative;
    top: -20vw;
    z-index: 10;
}

#caption p:nth-child(1) {
    font-size: 4vw;
}

#caption p:nth-child(2) {
    font-size: 6vw;
}

#words {
    position: relative;
    top: 20vw;
    font-size: 4vw;
    align-items: center;
}

#login-btn {
    position: relative;
    top: 40vw;
    font-size: 4vw;
    width: 100%;
    height: 30vw;
    background: url("../img/login-btn.png") no-repeat center;
}

#login-holder {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

form {
    text-align: left;
}

form * {
    font-size: 4vw;
    width: 100%;
    display: block;
    border: none;
}

form input {
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}