* {
    margin: 0;
}

body {
    text-align: center;
    position: relative;
    width: 100vw;
    background-color: #6da1fe;
    overflow: hidden;
}

.logo {
    position: relative;
    top: 3vh;
    width: 100%;
    height: 10vw;
    background: url("../img/logo.png") no-repeat bottom;
    background-size: contain;
}

.user-profile {
    width: 25vw;
    height: 25vw;
    background: url("../img/user-profile.jpg") no-repeat center;
    background-size: cover;
    border-radius: 50%;
}

#header {
    position: relative;
    background-color: white;
    height: 25vh;
    font: 9vw bold;
    text-align: left;
}

#header .username {
    position: absolute;
    top: 15vh;
    left: 15vw;
}

#header .user-profile {
    position: absolute;
    top: 9vh;
    left: 65vw;
}

#content {
    position: relative;
    width: 100%;
    min-height: 75vh;
    background: url("../img/oval-bg.png") no-repeat bottom;
    background-size: cover;
    color: white;
}

#content h1 {
    font-size: 5vw;
    font-weight: normal;
    opacity: 50%;
}

#content h1[active] {
    font-size: 6vw;
    opacity: 100%;
}

#option-balance {
    position: absolute;
    top: 3vh;
    left: 8vw;
}

#option-store {
    position: absolute;
    top: 3vh;
    left: 78vw;
}

#balance-field {
    width: 75vw;
    height: 5vh;
    background: rgba(255, 255, 255, 0.8);
    margin: auto;
    position: relative;
    top: 10vh;
    color: #3074f0;
    padding: 1vh;
    text-align: left;
    font-size: 4vh;
    border-radius: 10px;
    box-shadow: 0 0 3vw rgba(0,0,0,0.1);
}

#balance > p {
    text-align: left;
    font-size: 5vw;
    position: absolute;
    top: 23vh;
    left: 10vw;
}

#activities {
    width: 100vw;
    position: absolute;
    top: 35vh;
    overflow-x: scroll;
    overflow-y: hidden;
}

#activities-holder {
    width: max-content;
	white-space: nowrap;
}

.activity {
    display: inline-block;
	box-sizing: border-box;
    position: relative;
    float: left;
    margin: auto 5vw;
    height: 22vh;
    width: 30vw;
    border-radius: 40px;
}

.activity:nth-child(3n) {
    background-color: #dc2db3;
}

.activity:nth-child(3n+1) {
    background-color: #2fb5e2;
}

.activity:nth-child(3n+2) {
    background-color: #226aed;
}

.activity p:nth-child(1) {
    font-size: 5vw;
    position: absolute;
    top: 10%;
    left: 10%;
}

.activity p:nth-child(2) {
    font-size: 3vw;
    position: absolute;
    top: 60%;
    left: 10%;
}

.activity p:nth-child(3) {
    font-size: 5vw;
    position: absolute;
    top: 70%;
    left: 10%;
}

#goods {
    position: relative;
    top: 15vh;
    height: 60vh;
    overflow-y: scroll;
}

.good-item {
    position: relative;
    margin: auto auto 5vh;
    width: 70vw;
    height: 18vh;
    background: white;
    color: black;
    border-radius: 3vh;
    font-size: 5vw;
}

.good-item p {
    position: relative;
    top: 3vh;
    right: 5vh;
    text-align: right;
}

.good-item p:last-of-type {
    color: #226aed;
}

.good-icon {
    width: 10vh;
    height: 10vh;
    background: url("../img/good-icon.png") no-repeat center;
    background-size: cover;
    position: absolute;
    top: 4vh;
    left: 4vh;
}