* {
    margin: 0;
}

body {
    text-align: center;
    position: relative;
    width: 100vw;
}

.logo {
    width: 100%;
    height: 10vw;
    background: url("../img/logo.png") no-repeat bottom;
    background-size: contain;
    margin-bottom: 5vw;
    margin-top: 3vw;
}

#header-caption {
    position: relative;
    text-align: left;
    background: url("../img/charts.png") no-repeat center;
    background-size: contain;
    height: 30vh;
}

#header-caption h1 {
    position: absolute;
    top: 10vw;
    left: 10vw;
    font-size: 6vw;
}

#content {
    position: relative;
    margin-top: 10vw;
    width: 100%;
    min-height: 75vh;
    background: #f8fbfc;
}

#content:after {
    content: "";
    display: block;
    height: 20vw;
}

#content h1 {
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin-left: 10vw;
    font-size: 6vw;
    text-align: left;
}

.activity-entry-min {
    position: relative;
    margin: 3vw auto;
    padding: 2vw;
    width: 80vw;
    height: 28vw;
    background: url("../img/schedule-entry.png") no-repeat center;
    background-size: cover;
    box-shadow: 0 0 3vw rgba(0,0,0,0.05);
    font-size: 4vw;
    border-radius: 10px;
}

.activity-entry-min * {
    position: absolute;
}

.activity-entry-min *:nth-child(1) {
    left: 10vw;
    top: 6vw;
}

.activity-entry-min *:nth-child(2) {
    left: 50vw;
    top: 6vw;
}

.activity-entry-min *:nth-child(3) {
    left: 10vw;
    top: 22vw;
}

.activity-entry-min *:nth-child(4) {
    left: 74vw;
    top: 22vw;
}

.trash-bin {
    width: 6vw;
    height: 6vw;
    background: url("../img/del-icon.png") no-repeat center;
    background-size: contain;
}